body {
    display: flex;
    flex-direction: column;
    flex:1;
    font-family: sans-serif;

}

.intro {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 10px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 60px;
}

.header {
    margin-bottom: 50px;
    background-color: #3882F6;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.left-items {
    font-size: 24px;
    font-weight: bold;
    
}

.right-items {
    display:flex;
    gap:10px;
}

.awesome {
    display: flex;
    justify-content: space-between;
    flex:auto;
    gap:15px;
}

.awesome-text {
    display:flex;
    flex-direction: column;
}

.title{
    font-size: 48px;
    font-weight:bolder;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color:#3882F6;
    width:100px;
    height:50px;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
}

.image {
    padding:30px 70px;
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1;

}

.content {
    display:flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-top:30px;
    padding-bottom: 70px;

}

.title-two{
    
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.boxes {
    display:flex;
    gap:25px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.square {
    width: 150px;
    height:150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}



.quote {
    background-color: #E5E7EB ;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 300px;
}

.author {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
    
    
}

.action{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 300px;
}

.action-box {
    padding:30px 60px;
    display:flex;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 20px;
    justify-content: space-between;
    width: 100%;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}