body {
    display: flex;
    flex-direction: column;
    flex:1;

}

.intro {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 60px;
}

.header {
    margin-bottom: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.left-items {
    font-size: 24px;
    font-weight: bold;
    
}

.right-items {
    display:flex;
    gap:10px;
}

.awesome {
    display: flex;
    justify-content: space-between;
    flex:1;
}

.awesome-text {
    display:flex;
    flex-direction: column;
}

.title{
    font-size: 48px;
    font-weight:bolder;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color:#3882F6;
    width:100px;
    height:50px;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
}

.image {
    padding:30px 70px;
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;

}

.content {
    display:flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.boxes {
    display:flex;
    gap:15px;
}

.title-two{
    padding:30px;
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    background-color: #E5E7EB ;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 200px;
}

.action{
    background-color: #3882F6;
    color:white;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}